In [3]:
import pandas as pd
df = pd.read_excel(r'C:\Users\IT-MASTER\OneDrive\Desktop\Book1.xlsx')

In [4]:
df

   age   premium
0    20    18000
1    30    32000
2    35   400000
3    40   470000
4    45    55000

In [7]:
print(df.columns)

Index(['age ', 'premium'], dtype='object')

In [9]:
print(df.columns)

Index(['age ', 'premium'], dtype='object')

In [11]:
X = df['age ']
Y = df['premium']

In [12]:
X

0    20
1    30
2    35
3    40
4    45
Name: age , dtype: int64

In [13]:
Y

0     18000
1     32000
2    400000
3    470000
4     55000
Name: premium, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [18]:
X_train

4    45
2    35
0    20
3    40
Name: age , dtype: int64

In [19]:
Y_train

4     55000
2    400000
0     18000
3    470000
Name: premium, dtype: int64

In [20]:
X_test

1    30
Name: age , dtype: int64

In [21]:
Y_test

1    32000
Name: premium, dtype: int64